section{
  font-family: 'Kalam', cursive;
  width: 100%;
}
section h1{
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 3%;
}
.botonAniadir{
  position: absolute;
  top:12.5%;
  right: 10%;
}
.botonAniadir #aniadirProducto{
  width: 30%;
  font-size: 1em;
  border:none;
  border-radius: 12px;
  text-decoration: none;
  margin-left:2px;
 
  padding: 10px;
  box-shadow: 3px 3px 5px #CCC;
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
  color: #FFF;
  transition: all 200ms
}
.botonAniadir #aniadirProducto:hover{
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */

}
.overlay { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}
#popupBody{
  width: 46%;
  height: 55%;
  padding: 2%;
  border-radius: 12px;
  box-shadow: 0 0 5px #CCC;
  font-family: 'Kalam', cursive; 
  background: #FFF;
  position: relative;
  margin: 10% auto;
  transition: all 5s ease-in-out;
  overflow: scroll;

}

.popupContent form{
  width:80%;
  padding:3%;
  margin:0 auto;
}
.popupContent form p{
  margin:3% auto;
}

.popupContent form input, textarea{
  width:100%;
  margin:0 auto;
  padding: 1%;
}
#aniadirContainer{
  width: 40%;
  margin: 0 auto
}
#aniadir{
  width: 100%;
  font-size: 1em;
  border:none;
  border-radius: 12px;
 
  padding: 10px;
  box-shadow: 3px 3px 5px #CCC;
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
  color: #FFF;
  transition: all 200ms
}
#cerrar{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
  transition: all 200ms;
}
#listaProductos{
  margin:0 auto;
  width: 75%;
}
#listaProductos table{
  width:100%;
  text-align: center;
  font-size: 1.1em;

}
#listaProductos table td,th{
    border-top:thin solid #AFAFAF;
    padding: 2% 0;
}
#listaProductos table td img{
  width:150px;
  height: 50px;
}
#listaProductos .precio{
  width:50%;
  padding:3px 0px;
  font-family: 'Kalam', cursive;
  font-size: 1.0em;
  text-align: center;
}
#listaProductos table .eliminar img{
  width:130px;
  height: 30px
}
#listaProductos table .eliminar:hover{
  cursor:pointer;

}
