/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-mar-2021, 20:22:32
    Author     : jesus
*/

grande{
    color: red;
    font-family: white;
    background-color: black;
    
    
}
*{
  margin: 0;
  padding: 0;
}
header{
  font-family: Helvetica;
  width: 480px;
  margin: 0 auto;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}